/*-------------------------
    Simple reset
--------------------------*/
*{
    margin:0;
    padding:0;
}


/*-------------------------
    General Styles
--------------------------*/


html{
    
}
#addfeedsdiv{
    background:url(../img/bg-body2.png) repeat-x;
    color:#fff;
    text-shadow:0 2px 5px #333;
    height:600px;
    width:830px;
}

#header{
    padding: 40px 0 10px 30px;
    text-shadow:0 2px 5px #333;
}
#header img{
    vertical-align:middle;
    margin-top:-4px;    
    padding-right:4px;
}
/*----------------------------
    SearchBox in AddFeeds Page
-----------------------------*/
#addFeedsForm{
    float:right;
    margin-top: -30px;
    margin-right:32px;
    font-size:12px;
    font-weight:bold;
}
#searchbox input[type="search"]{
    text-shadow: 0 2px 5px #000;    
    float:right;
    border-radius:10px;
    outline:none;
    padding: 3px;
    margin-top:-5px;
    width:220px;
    font-size: 12px;
    color: #000;
    text-shadow:none;
	-webkit-appearance: none;
    -webkit-box-shadow:inset 0px 0px 0px #ccc;
    border: 1px solid #aaa;
    padding-left:22px;
    background:#ccc;
    -webkit-transition: all 0.7s ease 0s;
}
#searchbox input[type="search"]:hover{
    background:#ddd;
	border-color:#999;
}
#searchbox input[type="search"]:focus{
    background:#eee;
	width:230px;
    -webkit-transition: all 0.7s ease 0s;
}
#searchbox input[type="submit"]{
	float:right;
    color: #333;
    font-weight:bold;
    font-size: 12px;
	position:relative;
	width:50px;
	top:-5px;
	height:24px;
	border-radius:10px;
	border:none;
	margin-left:5px;
	background:url(../img/feedback.png) -1px  -3px;
}
#searchbox input[type="submit"]:hover{
	background:url(../img/feedback.png) -1px  -32px;
	cursor:pointer;
}
#searchbox input[type="submit"]:active{
	background:url(../img/feedback.png) -1px -63px;
	cursor:pointer;
}
#searchbox .srchglass{
    float: right;
    margin-top: -14px;
    margin-left:14px;
	margin-right:-20px;
}
#error-message{
    position:static;
    text-align:center;
    margin-top:2px;
    color:black;
    text-shadow:none;
}

#loadingurl{
	position:absolute;
	top:45px;
	right:450px;
	opacity:0;
}
#youtubeSuggestions{
	background-color:#444;
	color:white;
	float:right;
	left:529px;
	top:70px;
	position:absolute;
	list-style:none;
	z-index: 1000;
	text-shadow:none;
	width:208px;
	display:none;
}
#youtubeSuggestions li{
	height:20px;
	cursor:pointer;
	border:1px solid #999;
	border-top:none;
	}
#youtubeSuggestions li:hover{
background-color:#06F;
}
/*----------------------------
    Addfeeds Menu Bar 
-----------------------------*/
.filter{
    margin-top:10px;
    margin-left:31px;
    background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 490, color-stop(0, #85d003), color-stop(1, #68b402));
    border-radius:10px 10px 0 0; 
    width:682px;
    height:26px;
}
.filter li{
    float:left;
    font-size:13px;
    list-style:none;
    margin-left:10px;
    margin-top:6px;
    text-shadow:0 2px 3px #333;
    font-family:"Trebuchet MS";
    font-weight:bold;
}
.filter li a{
    color:#fff;
    margin-left:-2px;
    border-radius:2px 2px 0 0; 
    text-decoration:none;
    padding:6px 8px 2px 8px;
    -webkit-transition: all 0.05s ease 0s;
}
.filter li a:hover{
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #499600), color-stop(1, #6eb901));
    
    text-shadow:0 -2px 15px #888;
}
.filter li a.selected{
    border-radius:10px 10px 0 0;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(1, #D1D1D1));
    color:#333;
    padding-top:10px;
    text-shadow:none;
}
.filter li a.selected{
    text-decoration:none;
    cursor:default;
}

/*----------------------------
    AddFeeds Content Area
-----------------------------*/
#boxing{
	/*margin-left:31px;*/
    position:relative;
    width:830px;
    height:390px;
    overflow:hidden;
}
#container{

	width:10000px;
	margin-left:35px;

}
.fdkadiv{
    float:left;
    width:830px;
    position:relative;
}
.caption{
    text-align:center;
    padding:auto;
    margin:auto;
    width:155px;
    height:89px;
    color:white;
    font-size:12px;
    font-weight:bold;
    margin-top:-60px;
    z-index:1001;
    opacity:0;
}



.subscbdimg{
    position:absolute;
    width:32px;
    height:22px;
    float:right;
    right:-12px;
    top:-5px;
}
.tosubscr{
	top:20px;
    width:160px;
    height:89px;
    position:relative;
    margin:15px 15px 65px 15px;
    list-style:none;
	cursor:pointer;
    display:block;
    float:left;
    border-radius:7px;
    color:black;
    background:#333;
    -webkit-transition-duration:.2s;
    -webkit-box-shadow:0 3px 7px #333;
}
#container .unsub{
    position:relative;
    width:32px;
    height:32px;
    float:right;
    right:-15px;
    top:-45px;
	margin-left:-32px;
    background:url('../img/unsub.png') no-repeat; 
    cursor:pointer;
	display:none;
}
.feedimage{
    z-index:100;
    width:160px;
    height:89px;
    border-radius:7px;
}
.tosubscr:hover{
    cursor:pointer; 
    -webkit-transition-duration:.2s;
    -webkit-box-shadow:0 2px 15px #444;
}
.fdname{
    position:absolute;
    color:black;
    display:block;
    text-shadow:none;
    text-align:center;
    bottom:-25px;
    left:0%;
    width:100%;
}
 /************** Youtube API ********************/
 .grimg #youtube-feeds{
 	max-width: 830px; 
 	height: 390px;
 	overflow: hidden;
 	margin-left: -33px;
}
.grimg #youtube-feeds ul{
	list-style:none;
} 
#youtube-feeds a{
	text-decoration:none;
}
#youtube-feeds a:visited{
}
/************************firstpage******************/
#firstpage{
	width: 820px;
	height: 380px;
	margin-left:5px;
	margin-top:15px;
	
}
#vcatlist{
	margin-top:10px;
	float:right;
	margin-right:-15px;
	list-style:none;
	background:white;
	width:170px;
	height:348px;
	padding-top:10px;
	border-radius:20px 0 0 20px;
	border:solid 1px #777;
	-webkit-box-shadow:-1px 4px 2px #ccc;
}
#vcatlist span{
	text-align:center;
	margin-left:25px;
	margin-top:-5px;
	color:#222;
	font-size:15px;
	font-family:tahoma;
	text-shadow:0 2px 6px #ccc;
	font-weight:bold;
}
#vcatlist li {
	width:118px;
	margin-top:10px;
	margin-left:5px;
}
#vcatlist li a{
	background:#ccc;
	margin-bottom:7px;
	text-align:center;
	cursor:pointer;
	padding:18px 20px 18px 20px;
	font-size:12px;
	width:100%;
	float:left;
	-webkit-transition-duration:.2s;
	 -webkit-box-shadow:0 4px 6px #999;
	text-shadow:none;
	font-weight:bold;
	color:#111;
	border-radius:0 30px 0 30px ;
}
#vcatlist li a:hover{
	background:#ddd;
	-webkit-transition-duration:.2s;
	color:#000;
	-webkit-box-shadow:0 3px 4px #333;
	text-shadow: 0px 3px 3px #bbb;
	border-radius: 00px 0 0px 30px ;
}
#vcatlist .selected{
	-webkit-transition-duration:.2s;
	cursor:default;
	background:#111;
	 -webkit-box-shadow:none;
	width:126px;
	color:#fff;
	border-radius: 30px 0 0px 30px ;
	
}
#vcatlist .selected:hover{
	text-shadow:none;
	background:#111;
	color:#fff;
	-webkit-box-shadow:none;
	border-radius: 30px 0 0px 30px ;
}
.vidcat img{
	height:110px;
	position:static;
	border-radius: 5px;
}
.nowplaying{
	background:url(../img/play.png) no-repeat;
	padding:12px;
	width:6px;
	float:right;
	display:none;
	margin-top:-30px;
	z-index:1000000;
	position:relative;
}

#videosbox{
	background:#111;
	border-radius:0 10px 10px 0;
	width: 625px;
	height:360px;
	float:right;
	margin:10px 15px;
	-webkit-box-shadow:-1px 4px 6px #999;
}
.videolistitem{
	position:relative;
	margin:5px;
	float:left;
	width:146px;
	height:110px;
	border-radius:00px;
    	-webkit-transition-duration:0.2s;
	background-color:#999;
	background:url(../img/vdoload.gif)70px 55px no-repeat;
}
#gotoplayer{
	color:black;
	position: relative;
	background:url(../img/utube.png)no-repeat;
	width: 85px;
	padding: 5px 0px 7px 35px;
	border-radius:5px;
	text-align:center;
	display:none;
	font-weight:bold;
	color:#fff;
	left:640px;
	bottom:385px;
	float:right;
	z-index:1000000000000;
	cursor: pointer;
}
#gotoplayer:hover{
	background:url(../img/utube.png) 0px -26px no-repeat;
}
#gotoplayer:active{
	background:url(../img/utube.png) 0px -52px no-repeat;
}
.videolistitem:hover{

	cursor:pointer;
}
.utubecaption{
    text-align:center;
    width:140px;
    color:white;
    font-size:10px;
    font-weight:bold;
	margin;auto;
    margin-top:-114px;
	margin-left:-2px;
	height:80px;
	padding:30px 3px 0 3px;	
	opacity:0;
	border-radius:10px;
	background:#000;
	z-index:1000000000000;
	border:solid 2px white;
}

/**************************second page*****************/
#secondpage{
	position: relative;
	top: -375px;
	right: -830px;
	width: 765px;
}
#backbutton{
	cursor:pointer;
	background:url(../img/feedbutton.png) 0 -140px no-repeat;
	width: 45px;
	font-size:15px;
	text-align:center;
	color:black;	
	margin: 80px 0px 2px 5px;;
	padding: 50px 0 80px 0;
}
#backbutton:hover{
	background:url(../img/feedbutton.png) no-repeat;
	
}
.Video-IFrame-YouTube {
	/*margin: 5px 40px 0 40px;*/ 
	width: 620px;
	height: 360px;
	background: transparent;
	margin-top:-10px;
	right: -1006px;
}
#youtubeplayer {
	margin-left: 97px;
	width: 640px;
	height: 390px; 
	float: none;
	position: absolute;
	top: -100px;
}
#closevideo{
	float:right;
	margin: -234px -3px;
	color:black;
	background:url(../img/unsub1.png);
	cursor:pointer;
	opacity:.5;
	height:32px;
	width:32px;
}
#closevideo:hover
{
	opacity:1;
}

/*----------------------------
    MyFeeds Content Area/////////////////////////////////////////////
-----------------------------*/

 #myfeedsdiv{
    position:fixed;
    font-weight:800;
	height:600px;
    width: 830px;
    color:#fff;
	background:url(../img/bg-body3.png);
}

.myfeedlist{
	font: 14px/1.3 'Segoe UI',Arial, sans-serif;
	text-shadow: 0 2px 5px black;
	margin-left: 40px;
	margin-top: 5px;
	height: 443px;
	width: 790px;
	list-style: none;
	overflow: auto;
	overflow-x: hidden;
}
.myfeedlist .unsub{
    position:relative;
    width:32px;
    height:32px;
    float:right;
    right:-15px;
    top:-10px;
	margin-left:-32px;
    background:url('../img/unsub.png') no-repeat; 
    cursor:pointer;
	display:none;
}

.feedl
{   margin: 15px 10px 15px 14px; 
    text-align:center;
       border-radius: 5px;
    width:100px;
       height: 95px;
    position:relative;
    float:left;
    font-size:14px;
    color: #fff;
    font-weight:;
    font-family:'Segoe UI',Arial, Helvetica, sans-serif;
    word-wrap:break-word;
    box-shadow: 1px 1px 2px #888;
    text-shadow: none;
	cursor:pointer;
    
}
.readunread{

	float: right;
	background:#444;
	height:16px;
	border:solid 1px #bbb;
	color:#fff;	
	text-align:center;
	text-shadow:none;
	border-radius:5px;
	box-shadow: 1px 1px 2px #888;
	font-size:12px;
	position: absolute;
	bottom: 0;
	width:20px;

	right: 0;

}
.myfeedlist li p{
    max-width:100px;
    max-height:40px;
}
#myfeedsdiv h2
{
    text-align:center;
}

.myfeedlist li img{
    position:static;
    border-radius:4px;
    margin-top:10px;
    height:28px;
    width:28px;
}

#myfeedsdiv ::-webkit-scrollbar-track:vertical { background:#eee;}
.color0{
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DA8200), color-stop(1, #EABA00));
}
.color0:hover
{
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #DA8200), color-stop(1, #EABA00));
    cursor:pointer;
}
.color0:active
{background-image: -webkit-gradient(radial, center top, 0, center top, 100, color-stop(0, #EABA00), color-stop(1, #DA8200));
}

.color1{
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #60802E), color-stop(1, #9EBE4B));
}
.color1:hover
{
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #60802E), color-stop(1, #9EBE4B));
    cursor:pointer;
}
.color1:active
{background-image: -webkit-gradient(radial, center top, 0, center top, 100, color-stop(0, #9EBE4B), color-stop(1, #60802E));
}

.color4{
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #38879E), color-stop(1, #4FBAC7));
}
.color4:hover
{
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #38879E), color-stop(1, #4FBAC7));
    cursor:pointer;
}
.color4:active
{background-image: -webkit-gradient(radial, center top, 0, center top, 100, color-stop(0, #4FBAC7), color-stop(1, #38879E));
}
.color3{
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #924650), color-stop(1, #C46674));
}
.color3:hover
{
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #924650), color-stop(1, #C46674));
    cursor:pointer;
}
.color3:active
{background-image: -webkit-gradient(radial, center top, 0, center top, 100, color-stop(0, #C46674 ), color-stop(1,#924650));
}

.color2{
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #DA5534), color-stop(1, #8A2F2F));
}
.color2:hover
{
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DA5534), color-stop(1, #8A2F2F));
    cursor:pointer;
}

.color2:active
{background-image: -webkit-gradient(radial, center top, 0, center top, 100, color-stop(0, #DA5534), color-stop(1, #8A2F2F));
}


/*----------------------------
    SearchBox in MyFeeds Page
-----------------------------*/

#feedsearch{
    text-shadow: 0 2px 5px #000;    
    float:right;
    border-radius:10px;
    outline:none;
    padding: 2px 2px 2px 18px;
	margin-right:30px;
    margin-top:-34px;
    width:245px;
    font-size: 12px;
    color: #000;
    text-shadow:none;
	-webkit-appearance: none;
    -webkit-box-shadow:inset 0px 0px 0px #ccc;
    border: 1px solid #aaa;
    background:#ccc;
    -webkit-transition: all 0.7s ease 0s;

}
#feedsearch:hover{
  	background:#ddd;
	border-color:#999;
}
#feedsearch:focus{
    background:#eee;
    -webkit-transition: all 0.7s ease 0s;
}

#myfeedsdiv .srchglass{
right:0px;
	position:absolute;
	z-index:100000000000;
    margin-top: -30px;
    margin-right: 258px;
}
/*///////////////////////////////////
        FOOTER
////////////////////////////////////*/

#footer{
    position:absolute;
    height:60px;
    bottom:-3px;
	color:#444;
	font-weight:100;
	font-family:"Arial Rounded MT Bold";
    width:830px;
    font-size:15px;
}
.toaddfeedsbtn{
    cursor:pointer;
    text-shadow: none;
    margin-left: 50px;
    float:left;
    padding:6px 14px 5px 25px;
    background:url('../img/arrow2.png') 0 0 no-repeat;
}

#tomyfeedsbtn2{
    margin-top:-5px;
    cursor:pointer;
    text-shadow: none;
    margin-left: 50px;
    float:left;
    padding:6px 12px 5px 27px;
    background:url('../img/arrow2.png') 0 0 no-repeat;
}
#tomyfeedsbtn2:hover,.toaddfeedsbtn:hover{

    background:url('../img/arrow2.png') 0 -30px no-repeat;
	color:#333;
}

#tomyfeedsbtn2:active,.toaddfeedsbtn:active{

    background:url('../img/arrow2.png') 0 -60px no-repeat;
	color:#666;
}

#tomyfeedsbtn
{
    cursor:pointer;
    text-shadow: none;
    margin-right: 50px;
    float:right;
    padding:6px 27px 5px 12px;
    background:url('../img/arrow.png') 0 0 no-repeat;
}

#tomyfeedsbtn:hover
{   
    background:url('../img/arrow.png') 0 -30px no-repeat;
	color:#333;
}
#tomyfeedsbtn:active
{
    background:url('../img/arrow.png') 0 -60px no-repeat;
	color:#666;
}

#feedback{
    float:left;
    position:relative;
    margin-left:50px;
	text-shadow: none;
    padding:6px 18px 5px 18px;
    cursor:pointer;
    background:url('../img/feedback.png') 0 0 no-repeat;
}
#feedback:hover
{   
    color:#444;
    background:url('../img/feedback.png') 0 -30px no-repeat;
}
#feedback:active
{
    color:#666;

    background:url('../img/feedback.png') 0 -60px no-repeat;
}
.readerFooterElem
{
	font-family:'Segoe UI',Arial, sans-serif;
    color:#888;
    text-shadow: none;
	margin:-8px 20px 0 15px ;
    width: 125px;
    float:left;
    font-size:12px;
    padding:4px 0 6px 22px;
	display:none;
   /* background:url('../img/arrow2.png') 0 0 no-repeat; */
}
#viewOptionsBox{
	border: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#cccccc));
	padding: 5px 5px;
	margin-top:-1px;
	-webkit-border-radius: 5px;
	text-shadow: #ffffff 0 1px 0;
	color: #363636;
	font-size: 15px;
	font-family: Helvetica, Arial, Sans-Serif;
	text-decoration: none;
	border-radius:8px;
	outline:none;
}
#viewOptionsBox option{
	background:#eee;
}
.readerFooterElem img
{
	vertical-align:middle;
	margin-left:5px;
}
/*--------------------------------------------------------
                Feed View Area CSS/////////////////////////////////////////////////
----------------------------------------------------------*/
#readerviewdiv{
    height:590px;
    padding: 5px 0 10px 0; 
    position: relative;
    font: normal 12px Helvetica, Arial, sans-serif;
    text-shadow:0 -1px 0 white;
    text-align: left;
    background-image : url(../img/bg-body.png);
    }
#readerviewdiv a{
	text-decoration:none;
	color:#000066;
}
#readerviewdiv a:hover{
	color:#00C;
}
#slider ul li{
    font:15px Georgia, Serif;
}
.textSlide{
    overflow:hidden;
    padding:10px 30px;
    color:#000;
    font-size: 15px;
    line-height: 160%;
    font-weight:100%;
}
.textSlide h2 a{
    font:bold 30px Helvetica, Sans-Serif;
    letter-spacing:-1px;
    margin:0 0 10px 0;
    color:#026;
}
.textSlide a:hover{
    color:blue;
}
.textSlide a img{
margin:0 11px 11px 11px;
}

.textSlide p {
margin-bottom:15px;
-webkit-animation-duration: 1000ms, 300ms;
-webkit-animation-delay: 0ms, 1000ms;
}
.textSlide             { padding: 15px 0px 0 10px; overflow-y: scroll;}
.textSlide h3          { font: 20px Georgia, Serif; }
.textSlide h4          { text-transform: uppercase; font: 15px Georgia, Serif; margin: 10px 0; }
.textSlide ul          { list-style: disc; margin: 0; padding-left: 20px; }
.textSlide ul li       { display: list-item; }
.rightside             { float: right; margin: 0 0 2px 10px; }

.quoteSlide            { padding: 20px; }
.quoteSlide blockquote { font: italic 24px/1.5 Georgia, Serif; text-align: center; color: #444; margin: 0 0 10px 0; }
.quoteSlide p          { text-align: center; }

/* ///////////////////////////////////////////////////////// 
    headlines view
    /////////////////////////////////////////////////////////*/

#headlview {
    
    border-radius: 5px;
    text-shadow: none;
    color:#fff;
    margin-right: 70px;
    margin-top: -3px;
    width: 160px;
    text-align:center;
    font-size:15px;
    float: right;
    padding: 6px 22px 6px 19px;
    position: relative;
    display: inline-block;
    cursor:pointer;
    background: url("../img/gbutton.png") 0 -2px no-repeat;
     /*--Declare X and Y axis base for sub navigation--*/
}

#headlview:hover{
    background: url("../img/gbutton.png") no-repeat 0 -35px;
}

#headlview:active{
    background: url("../img/gbutton.png") no-repeat 0 -70px;
}
#rdrheadl li:hover
{
    background: #555;
}
#headlactions:hover
{
    background:#111;
	cursor:default;
}
#rdrheadl{
	bottom:91px;
    font-size:14px;
    color:#fff;
    text-shadow: none;
    text-align:left;
	list-style:none;
    position: fixed;
    right:0px ; 
    background: #666;
    display: none; 
	margin-right:40px;
    max-height: 400px;
    overflow-y:auto;
    overflow-x:hidden;
    border: 1px 1px 0 1px solid #111;
	cursor:pointer;
}
#rdrheadl li h2{
    font-weight: 100;
}
#rdrheadl li, #headlactions{
    padding:10px 5px 10px 5px;
    border-bottom:solid 1px #333;
    font-size: 9px;
    width:258px;
}

,
html #rdrheadl li a {
    float: left;
    width: 50px;    
    padding-left: 55px;
	cursor:pointer;
}

/* next and previous*/

#headlactions{
    background-color:#555;
    position:fixed;
    bottom:55px;
    height:15px;
	border-top:solid 1px #333;
	border-radius:0 0 5px 5px;
}
#headlactions img{
    padding-left:105px;
    position:relative;
}
#hprev{
    width:25px;
    height:25px;
    float:left;
    margin-left:30px;
    background:url(../img/prev.png) no-repeat;
    cursor:pointer;
    margin-top:-5px;
}
#hnext:hover
{
    background:url('../img/next.png') 0 -25px no-repeat;
}
#hnext:active{
    background:url('../img/next.png') 0 -50px no-repeat;
}

#hprev:hover
{
    background:url('../img/prev.png') 0 -25px no-repeat;
}
#hprev:active{
    background:url('../img/prev.png') 0 -50px no-repeat;
}



#hnext{
    width:25px;

    height:25px;
    float:right;
    margin-right:30px;
    background:url(../img/next.png) no-repeat;
    cursor:pointer;
    margin-top:-5px;
}

#rdrheadl #minimizeHeadlines {
position: fixed;
margin-top:0px;
margin-left: 247px;
width: 21px;
height: 12px;
cursor: pointer;
background: #444 url(../img/minimize.png) 0px -2px no-repeat;
border-bottom-left-radius: 3px;
-webkit-transition: background-color 0.3s linear;
}
#rdrheadl #minimizeHeadlines:hover {
    background-color: #000;
}
#rdrheadl #minimizeHeadlines:active {
    background-position: 0px -1px;
}
 /*----------------------------------------
    Loading Screen
------------------------------------------*/
#loadingScreen{
/*  opacity : 0; */
    visibility: hidden;
    position: absolute;
    height:100%;
    width:100%;
    background:#000;
    background:rgba(0,0,0,.8); 
    top:0px;
    left:0; 
    text-align:center;
    color:#FFF;
    vertical-align:middle;
    text-shadow:none;
    font-size:18px;
    padding-top:200px;
}
#loadingScreen img{
    margin:auto;
    top:30%;
    left:45%;
    position:absolute;
    z-index:101; 
}
